/* Always set the map height explicitly to define the size of the div
* element that contains the map. */
#map {
  height: 100%;
}

/* Optional: Makes the sample page fill the window. */
html,body {
  height: 100%;
  margin: 0;
  padding: 0;
}
.modal{
  position: absolute;
  right: 0;
  left: 0;
  top: 0;
  bottom: 0;
}
.modal form{
  display: flex;
  flex-direction: column;
  background-color: rgba(255, 255, 255, 0.5);
  margin: 15px;
  padding: 15px;
  width: -webkit-fill-available;
  height: -webkit-fill-available;
}

.modal form select, .modal form textarea, .modal form input{
  margin-top: 15px;
}